[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask-swagger-ui = "*"
swagger-spec-validator = "*"
pyyaml = "*"
dictdiffer = "*"
inflect = "*"
related = "*"
bravado-core = "==5.0.3"
aiobravado = "==0.9.2"
bravado = "==9.3.0"
bravado-asyncio = "==1.0.0"
stringcase = "*"

[dev-packages]
pytest = "*"
white = "*"
"pytest-flake8" = "*"
pytest-cov = "*"
pytest-mccabe = "*"
ipython = "*"
black = "==18.6b4"
pytest-asyncio = "*"
pytest-socket = "*"
twine = "*"

[requires]
python_version = "3.6"
